SPRING_PROFILES_ACTIVE=postgres
SERVER_ADDRESS=127.0.0.1
SERVER_PORT=8080
DATABASE_URL=jdbc:postgresql://127.0.0.1:5432/website
DATABASE_USER=website
DATABASE_PASSWORD=
ADMIN_USER=admin
ADMIN_PASSWORD=
